@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import url('https://www.bgosoftware.com/assets/css/desktop/all-home-css-styles.css');

.reveal .slide-background {
    background: url(https://www.bgosoftware.com/assets/images/desktop/hero-bkg.jpg);
    background-size: cover;
}

.reveal .slide-background::after {
    position: absolute;
    top: 20px;
    left: 20px;
    content: '';
    background: url(https://www.bgosoftware.com/assets/images/bgo_software_logo_black1.svg);
    width: 249px;
    height: 66px;
}

.reveal {
    --r-heading3-size: 1em;
    --r-main-color: var(--black-title);
    --r-main-font: var(--azosans);
    --r-main-font-size: 30px;
    --r-heading-color: var(--black-title);
    --r-link-color: var(--black-title);
    font-family: var(--r-main-font);
    font-size: var(--r-main-font-size);
    color: var(--r-main-color);
    color: var(--r-main-color);
}
.reveal .chart-container {
    position: relative;
    margin: auto;
    height: 60vh;
    width: 60vw;
    background: white;
}

.reveal table {
    font-size: .5em;
    width: 120%;
    margin-left: -10%;
}









